<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <p><a href="/products">Home</a></p>
    <p><a href="/products/new">Create a new product</a></p>
    <%= yield %>
  </body>
</html>
